.root {
  -fx-blue: #0000ff;
  -fx-green: #008000;
  -fx-red: #ff0000;
  -fx-yellow: #ffff00;
  -fx-blue-medium-opacity: #0000ff73;
  -fx-green-medium-opacity: #00800073;
  -fx-red-medium-opacity: #ff000073;
  -fx-yellow-medium-opacity: #ffff0073;
}

.text-input.err {
  -fx-text-box-border: red;
  -fx-focus-color: red;
}

.label.err {
  -fx-text-fill: red;
}

.text-field.error {
  -fx-text-box-border: red;
  -fx-focus-color: red;
}

.date-picker.error {
  -fx-border-color: red;
  -fx-focus-color: red;
}

.label.about.app-name {
  -fx-font-size: 15;
}

.label.about {
  -fx-font-size: 10;
}